@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4453E1, #0117DB);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #010953b4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0011A8;
    text-align: center;
    text-shadow: 1px 1px 2px #151a47ad;
}

h2 {
    color: #2b3597;
}

p {
    text-align: justify;
}